name: Test
on:
  pull_request:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Create tag
        uses: olsova/atc@add-action
        with:
          type: 'config.yaml'
          secrets: ${{ secrets.GITHUB_TOKEN }}